---
layout: default
---
<a name="norns">
<iframe src="https://player.vimeo.com/video/266741634?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<div class="col-container">
<h1 class="f1-title">NORNS</h1>
<p>changes. travels. is open to possibilities.</p>
<p>norns is many sound instruments. it connects to grids, MIDI and other objects. norns lets you define its behavior with scripts and DSP.</p>
<p>past. present. future. norns is many tomorrows.</p>
<ul class="detail-list">
<li>linux-powered open-source sound computer</li>
<li>2 audio in, 2 audio out, headphone</li>
<li>4 USB device ports: grids, MIDI, WIFI, etc</li>
<li>bright white pixels, endless rotary encoders, key switches</li>
<li>milled aluminum assembly, hard anodized</li>
<li>internal battery, charge by USB</li>
<li>6.2&quot; x 4.0&quot; x 0.8&quot;</li>
</ul>
<div class="product-buttons">
<a href="{{ site.url }}/docs/norns" class="ui-text ui-link">More Info</a>
{% include buy-norns.html %}
</div>
<p>we've also created the open-source <a href="https://llllllll.co/t/diy-norns-shield/27638">norns shield</a> which turns a normal raspberry pi into a norns.</p>
</div>

<a name="crow">
<iframe src="https://player.vimeo.com/video/362620801?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></a>

<div class="col-container">
<h1 class="f1-title">CROW</h1>
<p>crow speaks and listens and remembers bits of text. a scriptable usb-cv-ii machine.</p>
<p>crow connects to norns and computers running max, max for live, and other serial-enabled applications. we've created various norns scripts and max for live devices which require no programming, and we've also created tutorials and studies to get you started quickly programming your own ideas into this tiny, powerful module.</p>
<ul class="detail-list">
<li>eurorack format, 2hp, 41mm depth</li>
<li>power consumption: 60mA @ +12v, -15mA @ -12V, no 5V</li>
<li>2 input, 4 output, 16bit [-5V,10V] range</li>
<li>rear panel digital communication bus (ii)</li>
<li>full lua scripting environment</li>
</ul>
<div class="product-buttons">
<a href="{{ site.url }}/docs/crow" class="ui-text ui-link">More Info</a>
{% include buy-crow.html %}
</div>
</div>

<a name="grid">
<iframe src="https://player.vimeo.com/video/128746859?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<div class="col-container">
<h1 class="f1-title">GRID</h1>
<p>an open, interactive instrument that allows the user to imagine and define its function.</p>
<p>tactile and visual feedback. decoupled by design. clear response and intuitive play. when you push a key the input data is sent to the computer (be it norns, ansible, or normal laptop). the computer considers this, then perhaps sends back some light data, or changes a sound. use is determined by the chosen application running on the computer: sequencer, sample cutter, tone map, polyrhythm machine are just a few of the many possibilities, and we’ve put together studies to help you create your own.</p>
<ul class="detail-list">
<li>16 x 8 backlit keys</li>
<li>bright warm white light</li>
<li>two-tone aluminum assembly</li>
<li>usb powered</li>
<li>10.2&quot; x 5.4&quot; x 0.6&quot;</li>
</ul>
<div class="product-buttons">
<a href="{{ site.url }}/docs/grid" class="ui-text ui-link">More Info</a>
{% include buy-grid.html %}
</div>
<p>we may have some <a href="https://market.monome.org/products/grid-b-stock">b-stock</a> available.</p>
</div>

<a name="arc">
<iframe src="https://player.vimeo.com/video/182119406?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<div class="col-container">
<h1 class="f1 f1-title">ARC</h1>
<p>rotational controls encircled by dense segmented lighting, completely open for definition.</p>
<p>like the grid, tactile and visual feedback. but instead of a multitude of binary points, the arc has four incredibly precise continuous controls with visual indication to match. connects to computers (norns, ansible, laptops) to become a sequencer, physics simulation, granular instrument, or anything you can create yourself.</p>
<ul class="detail-list">
<li>four high resolution optical encoders</li>
<li>bright warm white light</li>
<li>two-tone aluminum assembly</li>
<li>usb powered</li>
<li>10.2&quot; x 2.7&quot; x 0.6&quot;</li>
</ul>
<div class="product-buttons">
<a href="{{ site.url }}/docs/arc" class="ui-text ui-link">More Info</a>
{% include buy-arc.html %}
</div>
</div>

<a name="teletype">
<iframe src="https://player.vimeo.com/video/129271731?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<div class="col-container">
<h1 class="f1 f1-title">TELETYPE</h1>
<p>algorithmic ecosystem. teletype is a dynamic, musical event triggering platform. edit scripts with a USB keyboard which plugs into the front panel. syntax is simple and easy to learn with the provided tutorials, video, and reference pages. teletype runs without the keyboard attached: you might treat editing as precomposition, or leave the keyboard plugged in for live coding.</p>
<ul class="detail-list">
<li>format: eurorack</li>
<li>width: 18hp</li>
<li>depth: 26mm (“skiff friendly”)</li>
<li>power: 12v: 72ma, -12v: 12ma, 5v: none</li>
</ul>
<div class="product-buttons">
<a href="{{ site.url }}/docs/teletype" class="ui-text ui-link">More Info</a>
{% include buy-teletype.html %}
</div>
</div>

<a name="ansible">
<iframe src="https://player.vimeo.com/video/214221486?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<div class="col-container">
<h1 class="f1 f1-title">ANSIBLE</h1>
<p>far communicator, speaks openly.</p>
<p>ansible connect various USB devices (grid, arc, MIDI) to the modular environment. several modes provide different sequencers and control approaches.</p>
<ul class="detail-list">
<li>format: eurorack</li>
<li>width: 6hp</li>
<li>depth: 39mm (“skiff friendly”)</li>
<li>power: 12v: 200ma, -12v: 19ma, 5v: none</li>
</ul>
<div class="product-buttons">
<a href="{{ site.url }}/docs/ansible" class="ui-text ui-link">More Info</a>
{% include buy-ansible.html %}
</div>
</div>

