<div class="col-sidebar">
  <div class="fixed-col">

    <div class="site-header">

        <a href="{{ site.url }}" class="site-logo w-nav-brand">
          monome
        </a>

    </div>

    <div class="col-container sidebar-content">
      <div class="col-section">
        <h1 class="f1 measure">sound machines for the exploration of time and space</h1>
        <a href="{{ site.url }}/docs" class="ui-text ui-link">Docs</a>
        <a href="https://llllllll.co/" target="_blank" class="ui-text ui-link" >Community</a>
        <a href="{{ site.url }}/about" class="ui-text ui-link">About</a></div>
    </div>
    <div class="site-footer">
      <div class="site-footer-nav">
        <ul class="link-list">
          <li class="link-list-item"><a href="mailto:help@monome.org" class="ui-text ui-link ui-link-sm">help@monome.org</a></li>
          <li class="link-list-item"><a href="https://twitter.com/monomes" target=_blank" class="ui-text ui-link ui-link-sm">@monomes</a></li>
          <li class="link-list-item-2">
        <a href="https://buttondown.email/tehn">monome newsletter</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
